{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

   <h2>About me</h2>
   <br>
   <img src="{% static 'image/thomas.png' %}" alt="Thomas" width="40%"/>
   <br>
   <br>
   <p> Hallo, ich bin Thomas, 19 Jahre alt, bin Student und würde Euch gerne auf meine geplante Rucksacktour durch Südamerika mitnehmen.
         Da ich weiß, wie schwierig es ist. am Anfang eine Reise zu planen und ich selbst noch vieles zu lernen habe, 
         wird dieser Blog hoffentlich nicht nur dazu sein, meine Reise zu strukturieren und zu dokumentieren, sondern auch um anderen Reiseinteressierten 
         weiterzuhelfen.
   </p>
   <p> Hi, I'm Thomas, 19 years old, a student and would like to take you guys on my backpacking journey through South America.
         I know that it is quite hard to organise trips and I myself still have a lot to learn, which is why I've started this blog not 
         only as a way to prepare, plan, structure and to documente my trip, but hopefully also as a way to help other travel enthusiasts, 
         who are planning on doing the same.
   </p>
   
{% endblock %}


