<html>
    <head>
        <title>Travel with T</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css2?family=Oswald:wght@500&display=swapt" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
      <div class="logo">
         {% if user.is_authenticated %}
         <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
         {% endif %}
         <h1><a href="/">Travel with T.</a></h1>
      </div>
        <header>
            <nav>
               <ul class="nav__links">
                  <li><a href="map.html">Map</a></li>
                  <li><a href="/">Posts</a></li>
                  <li> <a href="about.html">About</a></li>
                  <button type="submit"><i class="fa fa-search"></i></button>
               </ul>
            </nav>
         </header>

        <p> Hallo, ich bin der Thomas, 19 Jahre alt, bin Student und würde Euch gerne auf meine geplante Rucksacktour durch Südamerika mitnehmen.
            Da ich weiß, wie schwierig es ist. am Anfang eine Reise zu planen und ich selbst nicht wirklich erfahren in dem Punkt bin, 
            wird dieser Blog hoffentlich nicht nur dazu sein, meine Reise zu strukturieren und zu dokumentieren, sondern auch um anderen Reiseinteressierten 
            weiterzuhelfen.
        </p>

        <footer>
         <ul class="icons">
           <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
           <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
           <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         </ul>
         <div id="copyright"></div>
             <p>&copy; 2020 Copyright: Travel with T. </p>
           </div>
       </footer>
 </html>