{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <br>
        <img src="{{post.thumb.url}}" alt="{{post.title}}" width="50%"/>
        <br>
        <br>
        <p>{{ post.text|linebreaksbr }}</p> 
        <br>
        <div class="category">
            {{post.category}}
            <br>
            {{post.location}}
        </div>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %} 
    </div>
{% endblock %}