
.content {
    margin-left: 60px;
} 

h1, h2, h3, h4 {
    font-family: 'Oswald', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 50%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

