@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 80px;
   padding-top: 20px;
}

.logo a{
   font-size: 40px;
   font-weight: 1000;
}

.logo a:hover {
   color:rgb(0, 30, 255);
}

.top-menu, .top-menu:visited {
   color: #000;
   font-size: 10pt;
   padding: 20px 10%;
   margin: 0;
}

.top-menu:hover {
   color: rgb(0, 30, 255);
   font-size: 10pt;
   padding: 20px 10%;
   margin:0;
}

header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0px 10%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a:hover {
    color:rgb(0, 30, 255);
}
 
.nav__links button {
   background:none;
   border: none;
   font-size: 20px;
}

.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 200px;
   padding: 12px 16px;
   z-index: 1;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown-content a:hover{
   color: rgb(0, 30, 255);
 }

.content {
   display: grid;
   grid-template-columns: 1fr repeat(12, minimax(auto, 60px)) 1fr;
   grid-gap: 40px;
}

.row {
   grid-column: 2 / span 3;
   display: grid;
   grid-template-columns: repeat(3, minimax(auto, 60px));
   grid-gap: 40px;
}

.col-sm {
   grid-column-end: span 3;
   display: flex;
   flex-direction: column;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }

 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }

 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 #slides .slide_1 {
    background: #000;
 }

 #slides .slide_2 {
    background: #000;
 }

 #slides .slide_3 {
    background: #000;
 }

 #slides .slide_4 {
    background: #000;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }

 #controls label:hover {
    opacity: 1;
 }

 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }

 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }

 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }

 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #000;
    margin: 0 10px;
 }
 
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: rgb(0, 30, 255);
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(4),
    #slide3:checked ~ #controls label:nth-last-child(3),
    #slide4:checked ~ #controls label:nth-last-child(2) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 
 footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 10%;
}

.icons {
   list-style: none;
}

.icons li {
   display: inline-block;
   padding: 0px 20px;
}


.icons a:hover {
   color: rgb(0, 30, 255);
}

#copyright {
   text-align: center;
   align-items: center;
   padding: 10px;
}

#copyright li {
   display: inline-block;
   padding: 0px 20px;
}
 