@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;

}

/* logo */
.logo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-left: 100px;
}

.logo a{
   font-size: 40px;
   font-weight: 1000;
}

.logo a:hover {
   color:rgb(0, 30, 255);
}

/* Add Post */
.top-menu, .top-menu:visited {
   font-size: 10pt;
   color: #000;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 10%;
}

.top-menu a:hover {
   color: rgb(0, 30, 255);
   font-size: 10pt;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 10px 10%;
}

/* Header*/

header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0px 10%;
}

nav ul li {
  display: inline;
}

/* Menu */
.nav__links {
    list-style: none;
    margin: 0 30px 0 0;
}

.nav__links a {
  clear: right;
  text-decoration: none;
  margin: 0 10px;
  line-height: 70px;
}

.nav__links li a:hover {
    color:rgb(0, 30, 255);
}

.nav__links button {
   background:none;
   border: none;
   font-size: 20px;
}

/* Dropdown*/
.dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 200px;
   padding: 12px 16px;
   z-index: 1;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown-content a:hover{
   color: rgb(0, 30, 255);
 }

/* content */
.content {
   padding: 60px;
}

.postlist {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1.5rem;
}

.card {
   width: 100%;
   max-width: 98rem;
   padding: 5rem;
   background-color: rgb(239, 239, 239);
   box-shadow: 0 1.4 8rem rgba(0,0,0,.2);
   display: flex;
   align-items: center;
   border-radius: .9rem;

}

.post_img {
   min-width: 40rem;
   max-width: 40rem;
   height: 30rem;
   transform: translateX(-8rem);
   position: relative;
}

.post_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   border-radius: .9rem;
}

.post_info {
   font-size: 2.5rem;
   margin: 1.5rem 0 2rem;
}

.post_info a:hover{
   color: rgb(0, 30, 255);
 }

.date span {
   display: block;
   color: #828282;
   font-size: 1.3rem;
   margin: .5rem 0;
}

.post_title {
   font-size: 2.5rem;
   margin: 1.5rem 0;
   text-transform: uppercase;
   color: #000;
}

.post_text {
   margin-bottom: 3rem;
   font-size: 1.4rem;
   color: #000;
}

@media screen and (max-width: 1080px) {
   .card {
      max-width: 80rem;
   }

   .post_img {
      min-width: 30rem;
      max-width: 30rem;
   }
}

@media screen and (max-width: 868px) {
   .card {
      max-width: 70rem;
   }

   .post_img {
      min-width: 100%;
      max-width: 100%;
      transform: translate(0,-8rem);
   }
}

@media screen and (max-width: 868px) {
   .postlist{
      flex-direction: column;
      padding: 4.5rem 6rem 3rem 0;
   }

   .card {
      flex-direction: column;
      padding: 0 1.5rem;
   }

   .post_img {
      min-width: 100%;
      max-width: 100%;
      transform: translate(0,-8rem);
   }

   .date span {
      margin-top: 0;
   }
}




/* Slideshow*/

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }

 #slider input[type=radio] {
    display: none;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }


 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }

 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 #slides .slide_1 {
    background: #000;
 }

 #slides .slide_2 {
    background: #000;
 }

 #slides .slide_3 {
    background: #000;
 }

 #slides .slide_4 {
    background: #000;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }

 #controls label:hover {
    opacity: 1;
 }

 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }

 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }

 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }

 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #000;
    margin: 0 10px;
 }

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: rgb(0, 30, 255);
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(1),
    #slide2:checked ~ #controls label:nth-last-child(4),
    #slide3:checked ~ #controls label:nth-last-child(3),
    #slide4:checked ~ #controls label:nth-last-child(2) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 /* footer */

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px 10%;
}

.icons {
   list-style: none;
}

.icons li {
   display: inline-block;
   padding: 0px 20px;
}


.icons a:hover {
   color: rgb(0, 30, 255);
}

#copyright {
   text-align: center;
   align-items: center;
   padding: 10px;
}

#copyright li {
   display: inline-block;
   padding: 0px 20px;
}

* {
   box-sizing: border-box;
 }

 /* Remove margins and padding from the list */
 ul {
   margin: 0;
   padding: 0;
 }

 /* Style the list items */
 #myUL li {
   cursor: pointer;
   position: relative;
   padding: 12px 8px 12px 40px;
   background: #eee;
   font-size: 18px;
   transition: 0.2s;
   list-style: none;

   /* make the list items unselectable */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 /* Set all odd list items to a different color (zebra-stripes) */
 #myUL li:nth-child(odd) {
   background: #f9f9f9;
 }

 /* Darker background-color on hover */
#myUL li:hover {
   background: #ddd;
 }

 /* When clicked on, add a background color and strike out text */
 #myUL li.checked {
   background: #ccc;
   color: #fff;
   text-decoration: line-through;
 }

 /* Add a "checked" mark when clicked on */
 #myUL li.checked::before {
   content: '';
   position: absolute;
   border-color: #fff;
   border-style: solid;
   border-width: 0 2px 2px 0;
   top: 10px;
   left: 16px;
   transform: rotate(45deg);
   height: 15px;
   width: 7px;
 }

 /* Style the header */
 .todo {
   background-color: whitesmoke;
   padding: 30px 40px;
   color:black;
   text-align: center;
 }

 /* Clear floats after the header */
 .todo:after {
   content: "";
   display: table;
   clear: both;
 }

 /* Style the input */
 input {
   margin: 0;
   border: none;
   border-radius: 0;
   width: 75%;
   padding: 10px;
   float: left;
   font-size: 16px;
 }

 /* Style the "Add" button */
 .addBtn {
   padding: 10px;
   width: 25%;
   background: #d9d9d9;
   color: #555;
   float: left;
   text-align: center;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
   border-radius: 0;
 }

 .addBtn:hover {
   background-color: #ccc;
 }

/* remove button x */
.removebtn {
   color: grey;
   float:right;
}

.removebtn a:hover {
   color: rgb(0, 30, 255);
   float:right;
}
